<div class="container">
<div class="container-title"><h2>Operating System</h2></div>
<div class="not-recommended">
<div class="rec-ico"><i class="icon-thumbs-down-alt"></i></div>
	<!--#include virtual="/content/os/no-rec/index.html" -->
</div>
<div class="recommended">
<div class="rec-ico-alt"><i class="icon-thumbs-up-alt reco"></i></div>
<div class="text-container">
<div class="recommended-text">
	<div class="text">
		<!--#include virtual="/content/os/rec/mint.html" -->
	</div>
	<div class="text">
		<!--#include virtual="/content/os/rec/fedora.html" -->
	</div>
</div>
<div class="recommended-text">
	<div class="text">
		<!--#include virtual="/content/os/rec/gentoo.html" -->
	</div>
	<div class="text">
		<!--#include virtual="/content/os/rec/debian.html" -->
	</div>
</div>
<div class="recommended-text">
	<div class="text">
		<!--#include virtual="/content/os/rec/opensuse.html" -->
	</div>
	<div class="text">
		<!--#include virtual="/content/os/rec/openbsd.html" -->
	</div>
</div>
</div></div></div>