<img src="/content/web-browser/rec/firefox.png" alt="Firefox logo" Title="Firefox browser">
<a target="_blank" href="https://www.mozilla.org/" title="Mozilla website">Firefox</a>
<span><i class="icon-unlock-alt"></i>leaks user data</span>
<p>Firefox is the 3'rd most popular web browser. Being free and open-source makes it pretty safe to navigate the internet when used with some add-ons. </p>