<img src="/content/web-browser/rec/jondonym.png" alt="JonDonym logo" Title="JonDonym">
<a target="_blank" href="www.https://anonymous-proxy-servers.net/" title="JonDonym">JohnDonym</a>
<span><i class="icon-external-link"></i>safe browser</span>
<p>JAP or Java Anon Proxy or JonDonym is a proxy system designed to allow browsing the internet with revocable pseudonymity. It works on all platforms that support Java, it is open-source and sends the requests through a cascade and mixes the data streams of multiple users in order to obfuscate the data to outsiders who might want to survey the network.</p>