<img src="/content/web-browser/rec/orbot.png" alt="Orbot logo" Title="Orbot">
<a target="_blank" href="http://www.debian.org/" title="Orbot for Android">Orbot</a>
<span><i class="icon-android"></i>Android</span>
<p>Orbot is the TOR equivalent for the Android operating system. Orbot uses Tor to encrypt your Internet traffic and then hides it by bouncing through a series of computers around the world. Tor is free software and an open network that helps you defend against a form of network surveillance that threatens personal freedom and privacy, confidential business activities and relationships, and state security known as traffic analysis.</p>