<img src="/content/web-browser/rec/tor.png" alt="Tor Browserlogo" Title="Tor Browser">
<a target="_blank" href="http://torproject.com/" title="Tor Browser">Tor Browser</a>
<span><i class="icon-external-link"></i>safest browser</span>
<p>Tor is the safest browser in the world in terms of privacy and anonymity. Tor helps you  defend against traffic analysis, network surveillance and protects your freedom and privacy wheter is related to personal activities or business or state security.<br>Tor works by redirecting your internet traffic through a worldwide network of of volunteers consisting of more than 3000 relays to conceal your usage from network surveillance or traffic analysis. It is the best tool to protect your personal privacy as well as your freedom and ability to conduct confidential business.</p>