<span><img alt="Google logo" title="Google Talk" src="/content/web-search/no-rec/google.png"><br>Google Talk</span>
<span><img alt="Yahoo! Messenger" title="Yahoo! Messenger" src="/content/web-search/no-rec/yahoo.png"><br>Yahoo! Messenger</span>
<span><img alt="AIM logo" title="AIM" src="/content/instant-messaging/no-rec/aim.png"><br>AOL Instant Messenge</span>
<span><img alt="Trillian logo" title="Trillian" src="/content/instant-messaging/no-rec/trillian.png"><br>Trillian</span>
<span><img alt="Viber logo" title="Viber" src="/content/instant-messaging/no-rec/viber.png"><br>Viber</span>
<span><img alt="WhatsApp logo" title="WhatsApp" src="/content/instant-messaging/no-rec/whatsapp.png"><br>WhatsApp Messenger</span>
<span><img alt="Apple" title="Apple" src="/content/maps/no-rec/apple.png"><br>Apple OS X Messages</span>