<img src="/content/maps/rec/marble.png" alt="Marble logo" Title="Marble map">
<a target="_blank" href="http://marble.kde.org/" title="Marble Map website">Marble</a>
<p>Marble is a virtual globe. Is the non tracking equivalent of Google Earth, working with no need of hardware acceleration but can be extended to work with OpenGL.<br>It has support for OpenStreetMap and is capable of route planning.</p>