<img src="/content/maps/rec/openstreetmap.png" alt="OpenStreetMap" Title="OpenStreetMap">
<a target="_blank" href="http://www.openstreetmap.org/" title="OpenStreetMap">OpenStreetMap</a>
<p>OpenStreetMap is a collaborative project to create a free editable world map. It has over 1.3 million users who can collect data using GPS devices, aerial photography and 	other sources which are made available under Open Database License. The data available through OpenStreetMap have been favorably compared with proprietary datasources, though data quality varies worldwide.<br>The website is supported by OpenStreetMap foundation, a non-profit organization registered in England.</p>
<ul><li><a target="_blank" href="https://upload.wikimedia.org/wikipedia/commons/c/cc/OpenStreetMap_registered_users_en.svg" target="_blank">Number of users</a></li><li><a target="_blank" href="https://upload.wikimedia.org/wikipedia/commons/c/c7/Unique_Contributors_to_OSM_Per_Month.png" target="_blank">Active Contributors to OpenStreetMap per month</a></li></ul>