<img src="/content/maps/rec/osmand.png" alt="OsmAnd logo" Title="OsmAnd">
<a target="_blank" href="http://osmand.net/" title="OsmAnd Maps">OsmAnd</a>
<span><i class="icon-android"></i>Android</span>
<p>OsmAnd stands for OSM Automated Navigation Direction and is a open source, global mobile map viewing and navigation application for offline and online maps - specially for Android but some other operating systems as well. Development is done on Google Code and available under GPLv3 license, it uses OpenStreetMap database.<br>All map data can be stored on the device's memory card for offline use.</p>
<div class="show"><i class="icon-arrow-down"></i></div>
<div class="more"><div>
<h2>Some of the main features:</h2>
<h3>Navigation</h3>
<ul>
<li>Works online or offline (no roaming charges)</li>
<li>Turn-by-turn voice guidance (recorded and synthesized voices)</li>
<li>Optional lane guidance, street name display, and estimated time of arrival</li>
<li> Supports intermediate points</li>
<li>Automatic re-routing</li>
<li>Search for places by address, by type (e.g.: restaurant, hotel, gas station, museum), or by geographical coordinates</li>
</ul>
<h3>Map Viewing</h3>
<ul>
<li>Display the position and orientation on the map</li>
<li>Optionally align the map according to compass or the direction of motion of the device</li>
<li>Places can be saved as favorites</li>
<li>Display POIs (point of interests)</li>
<li>Can display online tile maps</li>
<li>Can display satellite view (from Bing)</li>
<li>Can display different overlays like touring/navigation GPX tracks and additional maps with customizable transparency</li>
<li>Optionally display place names in English, local, or phonetic spelling</li>
</ul>
<h3>Use OpenStreetMap and Wikipedia Data</h3>
<ul>
<li>Global maps from OpenStreetMap, available per country or region</li>
<li>Wikipedia POIs (not available in the free version)</li>
<li>Unlimited free download, directly from the app (download limit 10 map files in free version)</li>
<li>Always up-to-date maps (usually 1-2 updates per month)</li>
<li>Compact offline vector maps</li>
<li>Select between complete map data and just road network (Example: All of Japan is 700 MB, or 200 MB for the road network only)</li>
<li>Also supports online or cached tile maps</li>
</ul>
<h3>Safety Features</h3>
<ul>
<li>Optional automated day/night view switching</li>
<li>Optional speed limit display, with reminder if you exceed it</li>
<li>Optional speed-dependent map zooming</li>
<li>Location sharing</li>
</ul>
<h3>Bicycle and Pedestrian Features</h3>
<ul>
<li>The maps include foot, hiking, and bike paths, great for outdoor activities</li>
<li>Special routing and display modes for bike and pedestrian</li>
<li>Optional public transport stops (bus, tram, train) including line names</li>
<li>Optional trip recording to local GPX file or online service</li>
<li>Optional speed and altitude display</li>
<li>Display of contour lines and hill-shading (via additional plugin)</li>
</ul>
<h3>Directly Contribute to OpenStreetMap</h3>
<ul>
<li>Report map bugs</li>
<li>Upload GPX tracks to OSM directly from the app</li>
<li>Add POIs and directly upload them to OSM (or later if offline)</li>
<li>Optional trip recording also in background mode (while device is in sleep mode)</li>
</ul></div></div>