<img src="/content/instant-messaging/rec/bitlbee.png" alt="BitlBee" Title="BitlBee">
<a target="_blank" href="http://www.bitlbee.org" title="Pidgin website">BitlBee</a>
<span><i class="icon-lock"></i>Off the record messaging</span>
<p>BitlBee is a cross-platform IRC instant messaging gateway. BitlBee brings instant messaging to IRC clients. It's a great solution for people who have an IRC client running all the time and don't want to run an additional MSN/AIM/whatever client.</p>
<p>BitlBee runs on Linux, Unix, BSD, Windows, AmigaOSand Mac OS X.</p>
<div class="show"><i class="icon-arrow-down"></i></div>
<div class="more"><div>
<p>BitlBee currently supports the following IM networks/protocols:</p>
<ul>
<li>XMPP/Jabber</li>
<li>Google Talk</li>
<li>Facebook Messenger</li>
<li>MSN Messenger</li>
<li>Yahoo! Messenger</li>
<li>AIM</li>
<li>ICQ</li>
<li>Twitter microblogging network (plus all other Twitter API compatible services like identi.ca and status.net)</li></ul>
<p>If you don't want to (or can't) install BitlBee on your own machine you can also use one of the <a class="icon-external-link" target="_blank" href="http://www.bitlbee.org/main.php/servers.html" target="_blank" title="BitlBee public servers">public servers</a>. If you use Windows, this is the preferred option, as the Win32 port isn't very reliable yet.</p>
</div></div>