<img src="/content/instant-messaging/rec/chatsecure-apple.png" alt="ChatSecure" Title="ChatSecure">
<a target="_blank" href="https://chatsecure.org/" title="ChatSecure website">ChatSecure</a>
<span><i class="icon-apple"></i>iOS <i class="icon-lock"></i>Off the record messaging</span>
<p>ChatSecure is a simple multiprotocol IM client for iOS that supports encrypted "Off-the-Record".</p>
<p>It uses the LibOrange library to handle all of the AIM (OSCAR) functionality and the xmppframework to handle Jabber/GTalk (XMPP).</p>