<img src="/content/instant-messaging/rec/chatsecure.png" alt="ChatSecure" Title="ChatSecure">
<a target="_blank" href="https://guardianproject.info/apps/chatsecure/" title="ChatSecure website">ChatSecure</a>
<span><i class="icon-android"></i>Android <i class="icon-lock"></i>Off the record messaging</span>
<p>A private and secure messaging. You can talk with your friends on Facebook Chat, Google Talk, Hangouts, Jabber, Dukgo & more! Works with Android, iPhone, Mac, Linux or PC.</p>