<img src="/content/instant-messaging/rec/cryptocat.png" alt="CryptoCat" Title="CryptoCat">
<a target="_blank" href="https://crypto.cat/" title="CryptoCat website">CryptoCat</a>
<span><i class="icon-comments-alt"></i>Online <i class="icon-lock"></i>Off the record messaging</span>
<p>Instant Messaging without any software requirement. Works directly from your browser.</p>