<img src="/content/instant-messaging/rec/gajim.png" alt="Gajim" Title="Gajim">
<a target="_blank" href="http://gajim.org/" title="Gajim a Jabber/XMPP client">Gajim</a>
<span><i class="icon-lock"></i>Off the record messaging</span>
<p>Gajim is an instant messaging software which uses GTK+ toolkit. Gajim works on Linux, Windows and BSD.A 2009 round-up of similar software on Tom's Hardware found version 0.12.1 "the lightest and fastest jabber IM client". </p>
<div class="show"><i class="icon-arrow-down"></i></div>
<div class="more">
<div><h3>Features</h3>
<ul>
<li>Tabbed chat window and single window modes</li>
<li>Group chat support (with Multi-User Chat protocol), invitation, chat to group chat transformation, minimize group chat to roster</li>
<li>Emoticons, avatars, PEP (user activity, mood and tune)</li>
<li>Audio / video conferences</li>
<li>File transfer, room bookmarks</li>
<li>Metacontacts support</li>
<li>Trayicon, speller, extended chat history functionalities</li>
<li>TLS, GPG and End-To-End encryption support (with SSL legacy support)</li>
<li>Transport registration support</li>
<li>Service discovery including nodes, user search</li>
<li>Wikipedia, dictionary and search engine lookup</li>
<li>Multiple accounts support</li>
<li>DBus capabilities</li>
<li>XML console</li>
<li>Link local (bonjour / zeroconf), BOSH</li>
<li>Other features via plugins</li>
<li>Gajim is available in 29 languages: Basque, Belarusian, Brasilian, British, Bulgarian, Chinese (simplified), Croatian, Czech, Danish, English, Esperanto, French, Galician, German, Hebrew, Hungarian, Italian, Japanese, Kazakh, Lithuanian, Norwegian (Bokm&aring;l), Polish, Russian, Serbian, Spanish, Slovak, Swedish, Turkish and Ukrainian</li>
</ul></div></div>