<img src="/content/instant-messaging/rec/pidgin.png" alt="Pidgin" Title="Pidgin">
<a target="_blank" href="https://www.pidgin.im/" title="Pidgin website">Pidgin</a>
<span><i class="icon-lock"></i>Off the record messaging</span>
<p>Pidgin is a chat program which lets you log in to accounts on multiple chat networks simultaneously. Pidgin runs on Windows, Linux, and other UNIX operating systems.</p>
<p>Pigdin integrates the following services: AIM, ICQ, Google Talk, Jabber/XMPP, MSN Messenger, Yahoo!, Bonjour, Gadu-Gadu, IRC, Novell GroupWise Messenger, Lotus Sametime, SILC, SIMPLE, MXit, MySpaceIM, and Zephyr. It can support many more with by adding plugins.</p>
<div class="show"><i class="icon-arrow-down"></i></div>
<div class="more"><div>
<p>If you want your conversations to be encrypted you should install "<a target="_blank" href="http://otr.cypherpunks.ca/" title="Off-the-Record Messaging">Off-the-Record Messaging</a> plugin<br>Other plugins can be seen <a target="_blank" href="https://developer.pidgin.im/wiki/ThirdPartyPlugins" title="Pidgin plugins">here</a></p>
<p>Pidgin stores your IM account passwords in plain text. You can avoid this by:</p>
<ul><li>not saving your password in Pidgin</li>
<li>encrypting your file system with software like TrueCrypt</li>
<li>storing your Pidgin password securely with the Debian package pidgin-gnome-keyring</li></ul>
</div></div>