<img src="/content/instant-messaging/rec/surespot.png" alt="SureSpot" Title="SureSpot">
<a target="_blank" href="https://www.surespot.me/" title="SureSpot website">SureSpot</a>
<span><i class="icon-android"></i>surespot <i class="icon-android"></i>Android</span>
<p style="font-weight:bold">A free app with no advertising and totally open source providing exceptional encryption for everyone.</p>
<p>Features:</p>
<ul>
<li>Only the person you send the message to can read (AND NOW HEAR) it. Period.</li>
<li>Say anything.</li>
<li>You can delete your message from the receivers phone.</li>
<li>You can block users to prevent unwanted contact or bullying.</li>
<li>You can have multiple identities. </li>
</ul>