<img src="/content/instant-messaging/rec/textsecure.png" alt="TextSecure" Title="TextSecure">
<a target="_blank" href="https://github.com/WhisperSystems/TextSecure/" title="TextSecure website">ChatSecure</a>
<span><i class="icon-android"></i>Android <i class="icon-lock"></i>Off the record messaging <i class="icon-comment"></i>SMS</span>
<p>TextSecure is a replacement for the standard text messaging application, allowing you to send and receive text messages as normal.</p>
<p>TextSecure also provides:</p>
<ul>
<li>Local Encryption -- All text messages, regardless of destination, that are sent or received with TextSecure are stored in an encrypted database on your phone</li>
<li>Wire Encryption -- When communicating with a recipient who is also using TextSecure, text messages are encrypted during transmission</li>
</ul>