<img src="/content/instant-messaging/rec/tor-chat.png" alt="Tor Chat" Title="Tor Chat">
<a target="_blank" href="https://github.com/prof7bit/TorChat/wiki" title="Tor Chat on GitHub">TorChat</a>
<span><i class="icon-resize-full"></i>peer-to-peer</span>
<p>TorChat is a peer to peer instant messenger completely decentralized, built on top of Tor's location hidden services. This gives the user extremely strong anonymity and in the same time, being very easy to use. The end user does not have to install or configure anything to use TorChat.</p>
<p>TorChat runs from an USB drive on any Windows PC. TorChat can run on Linux and Mac also, being developed on Linux with cross platform usability in mind from the very first moment.</p>
<div class="show"><i class="icon-arrow-down"></i></div>
<div class="more"><div>
Using TorChat means:
<ul><li>nobody will be able to find out where you are</li>
<li>If they are already observing you and sniff your internet connection they will not be able to find out</li>
<li>what you send or receive (everything is end-to-end encrypted)</li>
<li>to whom you are sending or receiving from</li>
<li>where your contacts are located</li>
<li>TorChat is not affiliated with Tor Browser</li>
</ul>
</div></div>