<div class="container">
<div class="container-title"><h2>Instant Messaging</h2></div>
<div class="not-recommended">
<div class="rec-ico"><i class="icon-thumbs-down-alt"></i></div>
	<!--#include virtual="/content/instant-messaging/no-rec/no-rec.html" -->
</div>
<div class="recommended">
<div class="rec-ico-alt"><i class="icon-thumbs-up-alt reco"></i></div>
<div class="text-container">
<div class="recommended-text">
<div class="text">
	<!--#include virtual="/content/instant-messaging/rec/pidgin.html" -->
</div>
<div class="text">
	<!--#include virtual="/content/instant-messaging/rec/gajim.html" -->
</div>
</div>
<div class="recommended-text">
<div class="text">
	<!--#include virtual="/content/instant-messaging/rec/adium.html" -->
</div>
<div class="text">
	<!--#include virtual="/content/instant-messaging/rec/tor-chat.html" -->
</div></div>
<div class="recommended-text">
<div class="text">
	<!--#include virtual="/content/instant-messaging/rec/bitlbee.html" -->
</div>
<div class="text">
	<!--#include virtual="/content/instant-messaging/rec/chat-secure.html" -->
</div></div>
<div class="recommended-text">
<div class="text">
	<!--#include virtual="/content/instant-messaging/rec/surespot.html" -->
</div>
<div class="text">
	<!--#include virtual="/content/instant-messaging/rec/text-secure.html" -->
</div></div>
<div class="recommended-text">
<div class="text">
	<!--#include virtual="/content/instant-messaging/rec/chatsecure.html" -->
</div>
<div class="text">
	<!--#include virtual="/content/instant-messaging/rec/cryptocat.html" -->
</div>
</div>
</div></div></div>