<img src="/content/os/rec/fedora.png" alt="Fedora logo" Title="Fedora Linux">
<a target="_blank" href="https://fedoraproject.org/" target="_blank" title="Fedora Linux website">Fedora Linux</a>
<span><i class="icon-signin"></i>Leading edge</span>
<p>Fedora is a community powered Linux distribution, owned by Red Hat. Their main objective is to contain free and open-source software as well as being on the leading edge of such technologies.</p>
<p>Fedora life-cycle is relatively short, maintenance support lasting only 13 months. New Fedora versions are released every 6 months. A very good choice for Desktop users but a pretty poor choice for product-development which requires long-term support.</p>
<div class="show"><i class="icon-arrow-down"></i></div>
<div class="more">
<div><p>The Fedora Project was created in late 2003, when Red Hat Linux was discontinued. Red Hat Enterprise Linux was to be Red Hat's only officially supported Linux distribution, while Fedora was to be a community distribution. Red Hat Enterprise Linux branches its releases from versions of Fedora.</p>
<p>Security is one of the most important features in Fedora. One of the security features in Fedora is <em>Security-Enhanced Linux</em>, a Linux feature that implements a variety of security policies, including mandatory access controls, through the use of Linux Security Modules (LSM) in the Linux kernel. Fedora is one of the distributions leading the way with SELinux.</p>
<p>Third party repositories exist that distribute more packages that are not included in Fedora because it does not meet Fedora's definition of free software.</p>
</div>
</div>