<img src="/content/os/rec/gentoo.png" alt="Gentoo Linux logo" Title="Linux Gentoo">
<a target="_blank" href="http://www.gentoo.org/" title="Gentoo Official Website">Gentoo</a>
<span><i class="icon-lightbulb"></i>Advanced features</span>
<p>Gentoo Linux is a meta-distribution which advertises itself as a Linux distribution with extreme performance and configurability with "near-unlimited adaptability".<br>Gentoo package management is designed to be modular, portable, flexible, easy to maintain and optimised for the user's machine. Gentoo users have configurations and sets of installed programs which are unique to themselves.</p>