<img src="/content/os/rec/linuxmint.png" alt="Linux Mint logo" Title="Linux Mint">
<a target="_blank" href="http://linuxmint.com/" title="Linux Mint Official Website">Linux Mint</a>
<span><i class="icon-check"></i>Easiest to use <i class="icon-user"></i>Friendly</span>
<p>The purpose of Linux Mint is to produce a modern, elegant and comfortable operating system which is both powerful and easy to use.</p>
<p>Started in 2006, Linux Mint is now the 3'rd most widely used home operating system behind Microsoft Windows, Apple Mac OS.</p>