<img src="/content/os/rec/openbsd.png" alt="openBSD" Title="openBSD">
<a target="_blank" href="http://openbsd.com/" title="openBSD official Website">openBSD</a>
<span><i class="icon-lock"></i>Most secure <i class="icon-star"></i>BSD Family</span>
<p>openBSD is probably the safest distribution in the world. The lase security hole found in the default install was back in 2007 which was quickly fixed. In fact their slogan is "Only two remote holes in the default install, in a heck of a long time!" which refers to the first security hole in 2002 and the latter in 2007. <br>The whole BSD family is pretty secure and anyone of them is recommended to be used by you on your desktop or on your server. </p>