<img src="/content/web-search/rec/duckduckgo.png" alt="DuckDuckGo Search Engine" Title="DuckDuckGo Search Engine">
<a target="_blank" href="https://duckduckgo.com/" title="DuckDuckGo Search">DuckDuckGo</a>
<span><i class="icon-search"></i>safest search engine</span>
<p>DuckDuckGo is one of most private search engines out there. It uses more than 100 sources including Yandex, Bing, Yahoo! Search, Wolfram Alpha and it's own DuckDuckBot and displays an instant answer form.<br>DuckDuckGo doesen't store any information about it's users which means you are not in a search bubble and you get the same answer for your querry.</p>
<div class="show"><i class="icon-arrow-down"></i></div>
<div class="more"><div><p>
If DuckDuckGo is to be used with TOR browser (recommended), the user will get the following error: <em>"This website (duckduckgo.com) attempted to access image data on a canvas. Since canvas image data can be used to discover information about your computer, blank image data was returned this time."</em> - <a target="_blank" href="/libs/img/duck-tor.jpg" title="DuckDuckGo and Tor error" target="_blank">see image</a> - However this issue has been addressed immediately by zacbrannigan and the DuckDuckGo's founder Gabriel Weinberg once it was discovered stating the following:</p>
<p>zacbrannigan:</p>
<div class="quote"><i class="icon-quote-left"></i>we're still looking into a fix but it's a problem with font detection. There aren't any security implications, as it's only an issue on our end.</div>
<p>Gabriel Weinberg:</p>
<div class="quote"><i class="icon-quote-left"></i>this has to do with our font choice[...] Unfortunately it looks terrible on computers without anti-aliasing and so we check the canvas to see if anti-aliasing is on or not. if it is on, we go with the font. If not, it falls back to Arial. We are in the midst of a redesign that should make this issue go away.
For those who are concerned with using TOR and DuckDuckGo - going to <a target="_blank" href="https://duckduckgo.com/html/" title="Duck Duck Go HTML">https://duckduckgo.com/html/</a> will resolve this issue.</div>
</div></div>