<img src="/content/web-search/rec/ixquick.png" alt="ixquick logo" Title="ixquick">
<a target="_blank" href="https://ixquick.com/" title="izquick search engine">ixquick</a>
<span><i class="icon-unlock-alt"></i>leaks user agent</span>
<img src="/content/web-search/rec/startpage.png" alt="Startpage logo" Title="startpage">
<a target="_blank" href="https://startpage.com/" title="Startpage">Startpage</a>
<span><i class="icon-unlock-alt"></i>leaks user agent</span>
<p>Those 2 browsers are not as big as DuckDuckGo but they do a decent job not to track it's users. Except the user agent tracking (see explanation below) those 2 engines provide a pretty safe search environment. They are meta-searches, results coming from Google. </p>
<div class="show"><i class="icon-arrow-down"></i></div>
<div class="more"><div>
When a user changes his user agent, they will get the following error message:
<i class="icon-quote-left"></i>You may be using a privacy-oriented browser extension that conflicts with Startpage. Please disable this extension and try your search again. If this does not help, please contact us at (212) 447-1100 (USA) or autoquery @ ixquick.com.Which translates in ... tracking the user. A search engine claiming not to track your movements in any way should stick to it's user privacy and not perform any kind of tracking even if it is in the user's best interest or not.</div></div>