<img src="/content/web-search/rec/seeks.png" alt="Seeks search engine logo" Title="Seeks search engine">
<a target="_blank" href="http://www.seeks-project.info" title="Seeks peer-to-peer search engine">Seeks</a>
<span><i class="icon-resize-full"></i>peer-to-peer</span>
<p>Since 2006, this alternative search engine to the current available market, has been under active development winning the innovation award at the open world forum. Seeks aims to give the control of the ranking of results back to the users, thinking that search algorithms are often less accurate than humans. It relies on a distributed collaborative filter to let users personalize and share their preferred results on a search.</p>
<div class="show"><i class="icon-arrow-down"></i></div>
<div class="more"><div>
<ul><li>Results are automatically reranked based on user behaviour</li><li>Results are automatically reranked based on behavior by similar users</li><li>The software can be run in a distributed, peer-to-peer (P2P) manner, which enhances privacy while distributing workload, and shares reranking data pseudonymously</li><li>As free and open source software, the source code and binaries are freely available and can be used for commercial and personal uses with many freedoms</li><li>It uses various commercial engines, public data sources or privately set search engines to generate its index and in this way serves as a meta-search engine while at the same time reranking results to optimize based on user behavior</li></ul></div></div>