<img src="/content/email/rec/bitmessage.png" alt="Bitmessage logo" Title="Bitmessage">
<a target="_blank" href="https://bitmessage.org/wiki/Main_Page" title="Bitmessage">Bitmessage</a>
<span><i class="icon-resize-full"></i>peer-to-peer</span>
<p>Bitmessage is a P2P communications protocol used to send encrypted messages to another person or to many subscribers. It is decentralized and trustless, meaning that you need-not inherently trust any entities like root certificate authorities. It uses strong authentication which means that the sender of a message cannot be spoofed, and it aims to hide "non-content" data, like the sender and receiver of messages, from passive eavesdroppers like those running warrantless wiretapping programs.</p>