<img src="/content/email/rec/hushmail.gif" alt="Hushmail logo" Title="Hushmail">
<a target="_blank" href="https://www.hushmail.com/" title="Riseup">Hushmail</a>
<span><i class="icon-warning-sign"></i>not recommended</span>
<p>Hushmail is a web-based email service offering PGP-encrypted e-mail, file storage, vanity domain service. Hushmail uses OpenPGP standards and the source is available for download. Additional security features include hidden IP addresses in e-mail headers. A e-mail account has a storage limit of 25MB, and no IMAP or Post Office Protocol (POP3) service</p><p>Recommended reading: <a target="_blank" href="https://en.wikipedia.org/wiki/Hushmail#Compromises_to_email_privacy">Compromises to email privacy</a></p>
<div class="show"><i class="icon-arrow-down"></i></div>
<div class="more">
<div><div class="quote"><p><i class="icon-quote-left"></i>However, developments in November 2007 led to doubts among security-conscious users about Hushmail's security and concern over a backdoor. The issue originally revolved around the use of the non-Java version of the Hush system. It performed the encrypt and decrypt steps on Hush's servers and then used SSL to transmit the data to the user. The data is available as cleartext during this small window; additionally the passphrase can be captured at this point, facilitating the decryption of all stored messages and future messages using this passphrase. Hushmail has stated that the Java version is also vulnerable in that they may be compelled to deliver a compromised java applet to a user.</p>
<p><i>Hushmail turned over cleartext copies of private email messages associated with several addresses at the request of law enforcement agencies under a Mutual Legal Assistance Treaty with the United States; e.g. in the case of U.S. v. Tyler Stumbo. In addition, the contents of emails between Hushmail addresses were analyzed, and a total of 12 CDs were turned over to US authorities. Hushmail also now states that it also logs IP addresses in order "to analyze market trends, gather broad demographic information, and prevent abuse of our services.</i></p></div></div></div>