<img src="/content/email/rec/retroshare.png" alt="" Title="Retroshare">
<a target="_blank" href="" title="Retroshare">Retroshare</a>
<span><i class="icon-resize-full"></i>peer-to-peer</span>
<div>
<p>RetroShare is a Open Source cross-platform, Friend-2-Friend and secure decentralised communication platform.
It lets you to securely chat and share files with your friends and family, using a web-of-trust to authenticate peers and OpenSSL to encrypt all communication.
RetroShare provides filesharing, chat, messages, forums and channels</p>
<div class="show"><i class="icon-arrow-down"></i></div>
<div class="more"><div>
<h3>Features</h3>
<ul>
<li>Serverless, completely decentralised</li>
<li>Multiple simultaneous downloads / uploads</li>
<li>Search Friends</li>
<li>Messages</li>
<li>Forums</li>
<li>Channels</li>
<li>Voice over IP</li>
<li>Instant messaging</li>
<li>Groupchat</li>
<li>GnuPG Authentication</li>
<li>OpenSSL Encryption</li>
<li>adding downloads via website links</li>
<li>Plugins support</li>
<li>UPnP / NAT-PMP port forwarding support</li>
<li>Graphical User Interface written with Qt4 toolkit</li>
<li>System tray integration</li>
</ul></div></div></div>