<div class="menu-top">
	<ul id="main-menu" class="sm sm-blue">
		<li><h1><a title="Go to home page" href="/index.html">Dont Track Me</a></h1></li>
		<li><a title="About Dont Track me" href="/pages/about/">About</a>
			<ul class="sub-menu">
				<li><a title="This website" href="/pages/about/this-website/">This website</a></li>
				<li><a title="other" href="/pages/about/">Other</a></li>
			</ul>
		</li>
		<li><a title="How to do things for your privacy" href="#">How to ...</a>
			<ul class="sub-menu">
				<li><a title="How to encrypt files" href="#">Encrypt ...</a>
					<ul class="sub-menu">
						<li><a title="How to encrypt files with PGP/GPG" href="/pages/help/how-to/encrypt/files/index.html">Files</a></li>
						<li><a title="How to encrypt an Email using PGP/GPG" href="/pages/help/how-to/encrypt/email/index.html">Email</a></li>
						<li><a title="How to generate PGP GPG Key" href="/pages/help/how-to/encrypt/files/generate-your-own-personal-public-key.html">Generate Key</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li><a href="#">Help</a>
			<ul class="sub-menu">
				<li><a title="What is PGP/GPG" href="/pages/help/what-is/pgp-gpg/index.html">What is PGP / GPG</a>
				<li><a title="What is a Virtual Private Network" href="/pages/help/what-is/vpn/index.html">What is VPN</a>
				<li><a title="What is free Software" href="/pages/help/what-is/free-software/">Free Software</a></li>
			</ul>
				</li>

		<li><a title="Contribute to DontTrack.me" href="/pages/help/contribute"><i class="icon-comments"></i>Contribute</a></li>
		<li><a href="javascript:popup()"><span class="email-symbol">l </span>Tell a friend</a></li>
	</ul>
</div>