<div class="container">
<div class="container-title"><h2>Email</h2></div>
<div class="not-recommended">
<div class="rec-ico"><i class="icon-thumbs-down-alt"></i></div>
	<!--#include virtual="/content/blank/no-rec/no-rec.html" -->
</div>
<div class="recommended">
<div class="rec-ico-alt"><i class="icon-thumbs-up-alt reco"></i></div>
<div class="text-container">
<div class="recommended-text">
	<div class="text">
	<!--#include virtual="/content/blank/rec/blank.html" -->
	</div>
	<div class="text">
	<!--#include virtual="/content/blank/rec/blank.html" -->
	</div>
</div>
<div class="recommended-text">
	<div class="text">
	<!--#include virtual="/content/blank/rec/blank.html" -->
	</div>
	<div class="text">
	<!--#include virtual="/content/blank/rec/blank.html" -->
	</div>
</div>
<div class="recommended-text">
	<div class="text">
	<!--#include virtual="/content/blank/rec/blank.html" -->
	</div>
	<div class="text">
	<!--#include virtual="/content/blank/rec/blank.html" -->
	</div></div></div></div></div>